body {
	margin: 0;
	padding: 0;
	background: #fff url(../img/home-background.png) repeat-x;
	text-align: center;
	font-size: 12px;
	font-family: helveticaneue, arial;
}

#header {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

#header h1 {
	margin: 23px 0 0 66px;
	padding: 0;
	float: left;
	border: 0;
	text-indent: -999999px;
	background: url(../img/logo.png) no-repeat;
	width: 363px;
	height: 34px;
}

#header ul {
 	display: block;
	float: right;
	list-style: none;
	margin: 21px 50px 0 0;
	padding: 0;
}

#header li {
	display: block;
	float: left;
	margin: 5px 2px 5px 7px;
	font-size: 1.23em;
	color: #fff;
	cursor: pointer;
	padding: 10px 0;
}

#header li:hover {
	border-bottom: 4px solid #005;
	color: #ddf; 
}

#title {
	position: relative;
	z-index: 10;
	height: 138px;
}

#body {
 	width: 700px;
	margin: -50px auto 0;
	background: #fff;
	padding: 10px;
	text-align: left;
}

#body h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #00a;
}

#body p {
	font-size: 1.3em;
	color: #333;
}

#footer {
	clear: both;
	width: 700px;
	margin: 20px auto 0;
}

#footer p {
	color: #333;
	text-align: center;
	padding: 5px 0;
	margin: 5px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
	  
#light_box {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100099;
	text-align: center;
	background: url(../img/light-curtain.png);
	display: none;
}

#light_box div {
	width: 425px;
	border: 1px solid #333;
	background: #D5ECF4;
	color: #333;
	padding: 0;
	margin: 100px auto;
	text-align: left;
	box-shadow: 0 0 5px #333;
}

#light_box h1 {
	margin: 0;
	padding: 5px 10px;
	background: #0099FF;
	color: #FFC40F;
	font-weight: 400;
	border-bottom: 1px solid #333;
}

#light_box p {
	padding: 0;
	margin: 10px;
	font-size: 1.25em;
}

#light_box input, .std_dia_button, .std_button {
	display: block;
	margin: 25px auto;
	height: 30px;
	width: 108px;
	background: url(../img/alert-button.jpg);
	color: #333;
	font-size: 18px;
	text-align: center;
	padding: 0 15px;
	border: 1px solid #333;
	outline: none;
	cursor: pointer;
}

.dash, .dash_hor {
	border-collapse: collapse;
	border: 1px solid #333;
}

.dash thead {
	border-bottom: 1px solid #333;
	background: #0099FF;
}

.dash_hor .head {
	border-right: 1px solid #333;
	background: #0099FF;
}

.dash thead td, .dash_hor td.head {
	font-weight: 800;
	padding: 3px 5px;
	color: #FFC404;
	font-size: 1.3em;
	white-space: nowrap;
}

.dash tbody td, .dash_hor td.body {
	padding: 3px 5px;
	font-size: 1.2em;
	white-space: nowrap;
}

.dash .odd {
	background: #eee;
}

.student_edit, .teacher_edit, .student_edit_admin, .payment_edit, .venue_edit, .register_edit {
	display: block;
	cursor: pointer;
	width: 22px;
	height: 23px;
	background: url(../img/edit-icon.gif) no-repeat;
	text-indent: -999999px;
}

.student_cancel {
	display: block;
	cursor: pointer;
	width: 22px;
	height: 23px;
	background: url(../img/delete-icon.gif) no-repeat;
	text-indent: -999999px;
}

.student_confirm {
	display: block;
	cursor: pointer;
	width: 22px;
	height: 23px;
	background: url(../img/insert-icon.gif) no-repeat;
	text-indent: -999999px;
}

#edit_form {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	text-align: center;
	background: url(../img/light-curtain.png);
	display: none;
}

#edit_form div.shell {
	width: 575px;
	border: 1px solid #333;
	background: #D5ECF4;
	color: #333;
	padding: 0;
	margin: 100px auto;
	text-align: left;
	box-shadow: 0 0 5px #333;
}

#edit_form h1 {
	margin: 0;
	padding: 5px 10px;
	background: #0099FF;
	color: #FFC40F;
	font-weight: 400;
	border-bottom: 1px solid #333;
}

#edit_form div.content {
	padding: 0;
	margin: 10px 10px 25px;
	font-size: 1.25em;
}

.hr_b {
	border: 0;
	margin: 20px 0;
}

.std_button {
	margin: 3px auto;
}

.form_option {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.form_option td {
	text-align: center;
	width: 50%;
}

.dash_hov tbody tr:hover {
	background: #ccc;
}

.dash_hor td.head {
	padding: 3px 10px 3px 60px;
	text-align: right;
}

.view_all {
	padding: 3px 5px;
	cursor: pointer;
}