body {
	margin: 0;
	padding: 0;
	background: #fff url(../img/home-background.png) repeat-x;
	text-align: center;
	font-size: 12px;
	font-family: helveticaneue, arial;
}

#header { 
	width: 800px; 
	margin: 0 auto; 
	padding: 0;
}

#header h1 {
	margin: 23px 0 0 66px;
	padding: 0;
	float: left;
	border: 0;
	text-indent: -999999px;
	background: url(../img/logo.png) no-repeat;
	width: 363px;
	height: 34px;
}

#signin {
	display: block;
	float: right;
	text-indent: -999999px;
	width: 98px;
	height: 138px;
	background: url(../img/signin.png) no-repeat;
	border: 0;
	margin: 0 98px;
	padding: 0;
}

#title {
	position: relative;
	z-index: 10;
	height: 138px;
}

#slider_shell {
	clear: both;
	margin: 0 auto;
	padding: 0;
	width: 760px;
	height: 327px;
	position: relative;
	top: -65px;
	z-index:1;
	background: url(../img/slider-shell.png) no-repeat;
}

#slider {
	overflow: hidden;
	width: 680px;
	height: 280px;
	position: absolute; 
	top: 12px; 
	left: 41px;
}

#slider ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
	width: 1500px; 
}

#slider li { 
 	display: block; 
	float: left; 
	margin: 0; 
	padding: 0; 
	width: 680px;
}

#learn_more { 
	text-indent: -999999px; 
	width: 241px; 
	height: 123px; 
	border: 0; 
	background: url(../img/learn-more.png) no-repeat; 
	z-index: 10; 
	position: absolute; 
	top: 158px; 
	left: 511px; 
}

#body { 
	width: 700px; 
	margin: -50px auto 0; 
}

#body ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
	border-bottom: 1px dashed #e1e1e1; 
	overflow: auto;
}

#body li { 
 	display: block; 
	float: left; 
	width: 200px; 
	text-align: justify; 
	margin: 0;
}

#body .three_cell { 
	margin: 0 25px; 
	padding: 0 23px; 
	border-left: 1px dashed #bbb; 
	border-right: 1px dashed #bbb; 
}

#body li h1 { 
	margin: 0; 
	padding: 0; 
	font-weight: 400; 
	color: #00a; 
	text-align: center; 
}

#body p { 
	font-size: 1.3em; 
	color: #333; 
}

#footer { 
	clear: both; 
	width: 700px; 
	margin: 20px auto 0; 
}

#footer p { 
	color: #333; 
	text-align: center; 
	padding: 5px 0; 
	margin: 5px 0; 
	border-top: 1px solid #333; 
	border-bottom: 1px solid #333; 
}

#mf_signin { 
	display: none; 
	float: right; 
	margin: 5px 60px 5px 0; 
}

#mf_signin table { 
	display: block; 
	margin: 10 auto; 
}

#mf_signin td { 
	color: #ddf; 
	text-align: right; 
}

#mf_demo { 
	display: block; 
	text-align: center; 
	cursor: pointer; 
	position: relative; 
} 

#mf_help { 
	display: block; 
	position: absolute; 
	top: 15px; 
	left: -60px; 
	border: 4px solid #333; 
	width: 80px; 
	height: 85px; 
	background: #fff; 
	color: #333; 
	text-align: left; 
	padding: 0 10px; 
	cursor: default; 
}

#mf_help p { 
	margin: 0; 
	padding: 10px 5px; 
}

#light_box {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	text-align: center;
	background: url(../img/light-curtain.png);
	display: none;
}

#light_box div {
	width: 425px;
	border: 1px solid #333;
	background: #D5ECF4;
	color: #333;
	padding: 0;
	margin: 100px auto;
	text-align: left;
	box-shadow: 0 0 5px #333;
}

#light_box h1 {
	margin: 0;
	padding: 5px 10px;
	background: #0099FF;
	color: #FFC40F;
	font-weight: 400;
	border-bottom: 1px solid #333;
}

#light_box p {
	padding: 0;
	margin: 10px;
	font-size: 1.25em;
}

#light_box input {
	display: block;
	margin: 25px auto;
	height: 30px;
	width: 75px;
	background: url(../img/alert-button.jpg);
	color: #333;
	font-size: 18px;
	text-align: center;
	padding: 0 15px;
	border: 1px solid #333;
	outline: none;
	cursor: pointer;
}